---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="About Me"
    description="A Full Stack Developer focused on designing software concepts that are useful to the end user."
>
    <section class="flex flex-col-reverse flex-1 h-full justify-start mb-16">
        <div class="flex flex-col flex-1 space-y-2 mt-4 text-black-text">

            <figure class="w-1/2 m-auto">
                <img src="/assets/images/about/about.svg" alt="About me" />
            </figure>

            <p class="text-black-text">
                I am a Full Stack Developer with over three years of experience engineering web applications. My diverse programming experience includes working with JavaScript, Go, Rust, Python, and PHP as far as programming language. As far as the backend goes, I'm very familiar with MongoDB, PostgreSQL, MySQL, Neo4J, and Redis, although I can figure out about any type of database solution. I am a self taught programmer who loves learning and practicing any moment I can - you will find I am very passionate about coding. I like exploring new technologies and have recently spent a lot of time working with Deno, Svelte, and Lit.
            </p>

            <figure class="w-1/2 m-auto">
                <img src="/assets/images/about/about2.svg" alt="About me 2" />
            </figure>

            <p class="text-black-text">
                My career has involved working as a freelance developer, which has allowed me to utilize my other non-programming skills like marketing, communication, entrepreneurship, and web design. As much as I like having control over my schedule and the work I do, I would prefer to work in a team environment so I am putting a lot of effort into finding a team-oriented developer position at an awesome company! I believe I would take the next step in becoming a better developer if I had the opportunity to work with a mentor and learn how to develop projects on a team. If you are looking for an intermediate level developer who has a great grasp of the art of programming, loves learning new things, and works hard as hell, then I am the guy you are looking for. Not only do I have a good foundation of computer science knowledge, I also have experience in design principles and understand the business side of creating software and applications.
            </p>

            <p class="text-black-text">
                I have worked on about any kind of product you can imagine, including a lot of work with creating APIs, full stack web applications, and mobile apps.
            </p>
        </div>
    </section>
</Layout>
