---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Andrew's Digital Garden" descriptio="Andrew is a full stack web developer who writes about software design and development."
		<h1>Andrew's Digital Garden</h1>
	</body>
</html>
